.App {
  text-align: center;
}
nav {
display: flex;
justify-content: space-around;
min-height: 10vh;
background:gray;
color:white;
}
.nav-link{
width: 50%;
display: flex;
justify-content: space-around;
align-items: center;
}
li{
color:white;

}